* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.801), #8484cc 50%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 25px;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 30px hsla(0, 0%, 0%, 0.288);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #202020;
    font-size: 2.2rem;
}

.instruction {
    color: #202020;
    margin-bottom: 30px;
    font-size: 1rem;
    text-align: center;
}

#input-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    gap: 15px;
    margin-bottom: 25px;
}

#input-field {
    flex: 1 ;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #64546e;
}

input, select  {
    width: 100%;
    padding: 12px 13px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    outline: none;
    border-color: #4444c0;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    background: linear-gradient(135deg, #0a1752,#1111ad);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s,box-shadow 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(35, 35, 148, 0.507);
}
button:active{
    transform: translateY(0px);
}

.result-section {
    width: 100%;
    margin-top: 30px;
    padding: 25px;
    background-color: #2828e277;
    border-radius: 10px;
    display: none;
}

.result-section.show {
    display: block;
}

.result-section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #202020;
}

.age-display {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.age-unit {
    flex: 1 ;
}

.age-value {
    display: block;
    font-size: 2.2rem;
    font-weight: 700;
    color: #1111ad;

}
 .age-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #202020;
    font-size: 0.9rem;
 }

 .error {
    color: rgba(238, 14, 14, 0.808);
    font-size: 0.8rem;
    margin-top: 5px;
    display: none;
 }
 .error.show {
    display: block;
 }

 @media (max-width:500px){
    #input-section, .age-display{
        flex-direction: column;
            gap: 20px;

    }
 }